<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer service forms</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" href="style.css"> -->
    
</head>
<body>
    <div class="top">
        <!-- <div class="img--wrapper"><img class="img" src="../static/logo.png" alt="cosmo logo" ></div> -->
        <h1>Welcome to Customer Service Forms</h1>  
    </div>


<div class="container1">
    <div class="sidebar">
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
        </div>


    <nav>
        <h3>Select Form Template</h3>

        <!-- <ul>
            <li><a href="#" class="form-link" data-form="pre_authorization">Pre-Authorization Form</a></li>
            <li><a href="#" class="form-link" data-form="dental_optical">Dental Optical Authorization Form</a></li>
            <li><a href="#" class="form-link" data-form="client_call">Client Call Form</a></li>
            <li><a href="#" class="form-link" data-form="providers_call">Provider's Call Form</a></li>
        </ul> -->
        <ul>
        <ul>
            <li><a href="{{ url_for('pre_authorization_form') }}">Pre-Authorization Form</a></li>
            <li><a href="{{ url_for('dental_optical_form') }}">Dental Optical Authorization Form</a></li>
            <li><a href="{{ url_for('client_call_form') }}">Client Call Form</a></li>
            <li><a href="{{ url_for('providers_call_form') }}">Provider's Call Form</a></li>
        </ul>

        </ul>
        <hr>
        <h3>Veiw Forms</h3>
        <ul>
            <li><a href="{{ url_for('view_pre_authorization') }}">Pre-Authorization Log</a></li>
            <li><a href="{{ url_for('view_dental_optical') }}">Dental/Optical Authorization Log</a></li>
            <li><a href="{{ url_for('view_client_call') }}">Client Call Log</a></li>
            <li><a href="{{ url_for('view_providers_call') }}">Provider Call Log</a></li>
        </ul>
        <hr>

        <h3>Generate Reports</h3>
    <ul>
        <li><a href="{{ url_for('report_page') }}">View and Download Reports</a></li>
    </ul>

        <hr>
    </nav>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        {% block content %}{% endblock %}
        <div id="form-content"><p>Welcome to Customer Service Forms</p></div></a>
    </div>

</div>


{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
      {% for category, message in messages %}
        <li class="alert alert-{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


</body>

</html>