<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Providers Call Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
    <div class="header">
        <!-- <div class="img--wrapper"><img class="img" src="../static/logo.png" alt="cosmo logo" ></div> -->
    </div>
    <h1>Providers Call Form</h1>

    
    <form action="/submit/providers_call" method="POST">
        <label for="service_provider">Service Provider:</label>
        <input type="text" id="service_provider" name="service_provider"><br><br>

        <label for="call_details">Call Details:</label>
        <textarea id="call_details" name="call_details"></textarea><br><br>

        <label for="call_duration">Call Duration (Minutes):</label>
        <input type="number" id="call_duration" name="call_duration"><br><br>

        <label for="officer">Officer:</label>
        <input type="text" id="officer" name="officer"><br><br>

        <label for="status">Status:</label>
        <select id="status" name="status" required>
            <option value="Approved">Approved</option>
            <option value="Unapproved">Unapproved</option>
            <option value="Escalated">Escalated</option>
        </select>
                <br><br>
                
                <div id="escalation_field" style="display: none;">
                    <label for="escalated_to">Escalated To:</label>
                    <input type="text" id="escalated_to" name="escalated_to"><br><br>
                </div><br><br>

        <label for="attendant_name">Attendant Name:</label>
        <input type="text" id="attendant_name" name="attendant_name"><br><br>

        <label for="contact">Contact:</label>
        <input type="text" id="contact" name="contact"><br><br>

        <label for="member_number">Member Number:</label>
        <input type="text" id="member_number" name="member_number"><br><br>

        <button type="submit">SUBMIT</button>
    </form>
    <!-- <button type="menu" class="btn"><a href="view_providers_call.html">View Log</a></button>   -->
    <script>
        function toggleEscalationField() {
            const status = document.getElementById('status').value;
            const escalationField = document.getElementById('escalation_field');
            if (status === 'Escalated') {
                escalationField.style.display = 'block';
            } else {
                escalationField.style.display = 'none';
                document.getElementById('escalated_to').value = ''; // Clear the value
            }
        }
    </script>


</body>
</html>
