<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pre-Authorization Log</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="header">
        <div class="img--wrapper"><img class="img" src="{{ url_for('static', filename='logo.png') }}" alt="Logo"></div>
    </div>

    <h1>Pre-Authorization Log</h1>

    <div class="container">
        <table>
            <tr>
                <th>Service Provider</th>
                <th>Company</th>
                <th>Member Name</th>
                <th>Member Number</th>
                <th>Authorization Type</th>
                <th>Authorization Details</th>
                <th>Amount</th>
                <th>Officer</th>
                <th>Date Created</th>
                <th>Status</th>
                <th>Escalted To</th>
            </tr>
            {% for call in calls %}
            <tr>
                <td>{{ call.service_provider }}</td>
                <td>{{ call.company }}</td>
                <td>{{ call.member_name }}</td>
                <td>{{ call.member_number }}</td>
                <td>{{ call.authorization_type }}</td>
                <td>{{ call.authorization_details }}</td>
                <td>{{ call.amount }}</td>
                <td>{{ call.officer }}</td>
                <td>{{ call.date_created }}</td>
                <td>{{ call.status }}</td>
                <td>{{ call.escalated_to}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- <h2>Report</h2>
    <p><strong>Total Calls:</strong> {{ report.total_calls }}</p>
    <p><strong>Resolved Calls:</strong> {{ report.resolved_calls }}</p>
    <p><strong>Pending Calls:</strong> {{ report.pending_calls }}</p> -->
    <h2>Report</h2>
    <p><strong>Total Calls:</strong> {{ report.total_calls }}</p>
    <p><strong>Resolved Calls (Approved):</strong> {{ report.resolved_calls }}</p>
    <p><strong>Unresolved Calls (Unapproved):</strong> {{ report.unresolved_calls }}</p>
    <p><strong>Escalated Calls:</strong> {{ report.escalated_calls }}</p>

</body>
</html>
